<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Bash!</title>
</head>
<body>
    <div class="book-details-container" ng-if="!loading">
        <h1>{{ book.title }}</h1>
        <img ng-src="{{ book.thumbnail }}" alt="{{ book.title }}">
        <p><strong>Authors:</strong> {{ book.authors }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
    </div>
    <div ng-if="loading">Loading book details...</div>
    
    
    <div ng-if="loading">Loading book details...</div>



    <div ng-controller="bookSearchController">
        <h1>Book Search</h1>
        <input type="text" ng-model="searchQuery" placeholder="Enter book name" />
        <button ng-click="searchBooks()">Search</button>
        <button ng-click = "searchforBooks()">search1</button>

        <div ng-if="bookData">
            <h2>book Details:</h2>
            <p><strong>Name:</strong> {{ bookData.title }}</p>
            <p><strong>Description:</strong> {{ bookData.overview }}</p>
            <img ng-src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" class="movie-poster">
            <p><strong>Release Date:</strong> ${{ bookData.release_date }}</p>
        </div>
    </div>
    
</body>
</html>